<!DOCTYPE>
<html>

<head>

<title> Random Facts </title>
<link rel="stylesheet"type="text/css"href="css/style.css">

</head>

<body>

<h1 class="h1">Random Facts</h1>

<div class="fact">
  <h2><%=@facts.random_fact%></h2>
</div>

<div class="social links">
  <h3> Rishi Gupta</h3>

  <a href="https://www.facebook.com/rishi.gupta.7528/"><img src= "https://www.facebook.com/images/fb_icon_325x325.png"
    width="30" height="30" border="0"></a>

  <a href="https://twitter.com/RishiBest0000/"><img src= "http://www.blugraphic.com/wp-content/uploads/2012/07/New-Twitter-Logo.jpg" width="30" height="30" border="0"></a>

  <a href="http://instagram.com/rishibest/"><img src= "http://icons.iconarchive.com/icons/limav/flat-gradient-social/512/Instagram-icon.png" width="30" height="30" border="0"></a>



</body>

</html>

  